In [1]:
#librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
"""importar db normal, DoS y Probe"""
df_normal = pd.read_csv('../../datos_SDN/araData/Normal.csv', low_memory=False)
df_dos = pd.read_csv('../../datos_SDN/araData/Dos.csv', low_memory=False)
df_probe = pd.read_csv('../../datos_SDN/araData/Probe.csv', low_memory=False)

# 1. Limpieza de datos

## 1.1 Eliminar datos innecesarios

### Columnas

In [3]:
"""definir caractericticas innecesarias"""
caracteristicas_in=['SrcId','Rank','Trans','sDSb','dDSb','sIpId','dIpId','SrcGap','DstGap','dsPkts','ddPkts','dsBytes',
'ddBytes','pdsPkt','pddPkt','pdsByte','pddByte','(null)','SrcWin','DstWin','JDelay','LDelay','Bins','Bin', 'SrcTCPBase','DstTCPBase'
,'Inode','sPktSz','dPktSz']

In [4]:
""" eliminar de atributos """
df_normal.drop(columns=caracteristicas_in, axis=1, inplace=True)
df_dos.drop(columns=caracteristicas_in, axis=1, inplace=True)
df_probe.drop(columns=caracteristicas_in, axis=1, inplace=True)

In [5]:
print(df_normal.shape,'\n',df_dos.shape,'\n',df_probe.shape)

(111719, 93)
 (35030, 93)
 (49452, 93)

In [105]:
"""guardar estados de datos"""
df_normal.to_csv('../../araData/normal_1.2.csv',index=False)
df_dos.to_csv('../../araData/dos_1.2.csv',index=False)
df_probe.to_csv('../../araData/probe_1.2.csv',index=False)

### Registros innecesarios
Protocolos, tiempos de duracion, IPs.
#### Normal

In [7]:
"""verificiar protocolos para trafico normal"""
df_normal.Proto.unique()

array(['man', 'tcp', 'udp', 'ipv6-icmp', 'igmp', 'lldp', 'unknown', 'arp',
       'icmp', 'rtcp'], dtype=object)

In [6]:
"""mostrar protocolos no L4"""
df_normal[(df_normal.Proto=='man') | (df_normal.Proto=='ipv6-icmp') | (df_normal.Proto=='igmp') 
| (df_normal.Proto=='lldp') | (df_normal.Proto=='unknown') | (df_normal.Proto=='arp') | (df_normal.Proto=='icmp') 
| (df_normal.Proto=='rtcp') ]

,StartTime,LastTime,SrcStartTime,DstStartTime,SrcLastTime,DstLastTime,Seq,Flgs,RunTime,Dur,...,AckDat,TcpOpt,Offset,sMeanPktSz,dMeanPktSz,sMaxPktSz,dMaxPktSz,sMinPktSz,dMinPktSz,Label
0,19:55:39.616135,19:55:39.614701,19:55:39.614701,19:55:39.614701,19:55:39.616135,19:55:39.616135,0,,NaN,0.001434,...,0.0,NaN,0,0.0,0.0,NaN,NaN,NaN,NaN,Normal
1244,19:55:40.620953,19:55:39.614701,19:55:39.614701,19:55:39.614701,19:55:40.620953,19:55:40.620953,0,,NaN,1.006252,...,0.0,NaN,247452,0.0,0.0,NaN,NaN,NaN,NaN,Normal
1245,19:55:45.648495,19:55:45.646908,19:55:45.646908,19:55:45.646908,19:55:45.648495,19:55:45.648495,0,,NaN,0.001587,...,0.0,NaN,0,0.0,0.0,NaN,NaN,NaN,NaN,Normal
1309,09:31:10.141621,09:31:10.141621,09:31:10.141621,19:00:00.000000,09:31:10.141621,19:00:00.000000,16,e,0.000000,0.000000,...,0.0,NaN,19416,70.0,0.0,70.0,NaN,70.0,NaN,Normal
1335,09:33:51.531326,09:33:51.631684,09:33:51.531326,19:00:00.000000,09:33:51.631684,19:00:00.000000,18,e A,0.100358,0.100358,...,0.0,NaN,28028,90.0,0.0,90.0,NaN,90.0,NaN,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111646,14:20:09.429624,14:20:09.429624,14:20:09.429624,19:00:00.000000,14:20:09.429624,19:00:00.000000,9,e A,0.000000,0.000000,...,0.0,NaN,8304,60.0,0.0,60.0,NaN,60.0,NaN,Normal
111647,14:20:09.430667,14:20:09.430667,14:20:09.430667,19:00:00.000000,14:20:09.430667,19:00:00.000000,10,e A,0.000000,0.000000,...,0.0,NaN,8420,60.0,0.0,60.0,NaN,60.0,NaN,Normal
111648,14:20:09.431118,14:20:09.431118,14:20:09.431118,19:00:00.000000,14:20:09.431118,19:00:00.000000,11,e A,0.000000,0.000000,...,0.0,NaN,8536,60.0,0.0,60.0,NaN,60.0,NaN,Normal
111652,14:20:09.648516,14:20:09.648516,14:20:09.648516,19:00:00.000000,14:20:09.648516,19:00:00.000000,15,e A,0.000000,0.000000,...,0.0,NaN,9108,60.0,0.0,60.0,NaN,60.0,NaN,Normal
111718,20:30:27.483326,20:30:26.479233,20:30:26.479233,20:30:26.479233,20:30:27.483326,20:30:27.483326,0,,NaN,1.004093,...,0.0,NaN,25540,0.0,0.0,NaN,NaN,NaN,NaN,Normal

In [8]:
"""eliminar filas anteriores"""
df_normal = df_normal[(df_normal.Proto=='tcp')| (df_normal.Proto=='udp')]

In [9]:
"""verificar protocolos de capa 4"""
df_normal.Proto.value_counts()

udp    58727
tcp    41971
Name: Proto, dtype: int64

### Probe

In [21]:
"""verificiar protocolos"""
df_probe.Proto.unique()

array(['man', 'tcp', 'arp', 'udp', 'icmp', 'lldp', 'ipv6-icmp', 'gmtp',
       'cpnx', 'ipcomp', 'unas', 'ipcv', 'sat-mon', 'pup', 'bbn-rcc',
       'sep', 'a/n', 'ddp', 'ipip', 'rsvp', 'uti', 'ptp', 'ipv6', 'st2',
       'idpr-cmtp', 'mobile', 'isis', 'sm', 'vrrp', 'xns-idp', 'scps',
       'tp++', 'l2tp', 'cbt', 'crudp', 'eigrp', 'snp', 'sps', 'prm',
       'iso-tp4', 'idrp', 'srp', 'chaos', 'ddx', 'igp', 'ipx-n-ip',
       'ipv6-opts', 'gre', 'argus', 'fire', 'xnet', 'wb-expak', 'any',
       'leaf-2', 'pvp', 'sun-nd', 'tlsp', 'aes-sp3-d', 'aris', 'iatp',
       'dgp', 'sprite-rpc', 'visa', 'emcon', 'sccopmce', 'wb-mon', 'xtp',
       'ttp', 'bna', 'ib', 'netblt', 'nvp', 'br-sat-mon', 'mtp', 'crtp',
       'hmp', 'ipv6-frag', 'compaq-peer', 'swipe', 'kryptolan', 'rdp',
       'larp', 'fc', 'smp', 'skip', 'ip', 'rvd', 'mhrp', 'irtp', 'idpr',
       'trunk-2', 'ah', 'cftp', 'encap', 'iso-ip', 'i-nlsp', '3pc', 'stp',
       'igmp', 'ipv6-no', 'narp', 'sdrp', 'sat-expak', 'qnx', 'ggp',
       'egp', 'il', 'mfe-nsp', 'merit-inp', 'micp', 'ipv6-route',
       'pri-enc', 'iplt', 'nsfnet-igp', 'tcf', 'ippc', 'pgm', 'pipe',
       'etherip', 'vines', 'mux', 'trunk-1', 'ifmp', 'pnni',
       'secure-vmtp', 'cphb', 'dcn', 'leaf-1', 'ax.25', 'ospf', 'vmtp',
       'wsn', 'ipnip', 'zero', 'sctp'], dtype=object)

In [10]:
"""se elimina todos los protocolos anteriores desconocidos"""
df_probe = df_probe[(df_probe.Proto=='tcp')| (df_probe.Proto=='udp')| (df_probe.Proto=='icmp')| (df_probe.Proto=='unas')]

In [11]:
df_probe.Proto.value_counts()

tcp     36828
udp      5889
icmp     5243
unas      480
Name: Proto, dtype: int64

### DoS

In [12]:
"""verificiar protocolos"""
df_dos.Proto.unique()

array(['man', 'tcp', 'udp', 'ipv6-icmp', 'igmp', 'icmp', 'lldp'],
      dtype=object)

In [13]:
"""eliminar protocolos"""
df_dos = df_dos[(df_dos.Proto=='tcp')| (df_dos.Proto=='udp')| (df_dos.Proto=='icmp')]

In [14]:
df_dos.Proto.value_counts()

tcp     34873
udp       111
icmp        2
Name: Proto, dtype: int64

### Normal, Probe y DoS

In [22]:
df_normal[(df_normal.RunTime==0.0) | (df_normal.Dur==0.0)]

,StartTime,LastTime,SrcStartTime,DstStartTime,SrcLastTime,DstLastTime,Seq,Flgs,RunTime,Dur,...,AckDat,TcpOpt,Offset,sMeanPktSz,dMeanPktSz,sMaxPktSz,dMaxPktSz,sMinPktSz,dMinPktSz,Label
1249,09:26:00.989740,09:26:00.989740,09:26:00.989740,19:00:00.000000,09:26:00.989740,19:00:00.000000,4,e,0.0,0.0,...,0.0,NaN,1164,60.0,0.0,60.0,NaN,60.0,NaN,Normal
1250,09:26:00.989753,09:26:00.989753,09:26:00.989753,19:00:00.000000,09:26:00.989753,19:00:00.000000,5,e,0.0,0.0,...,0.0,NaN,1276,60.0,0.0,60.0,NaN,60.0,NaN,Normal
1299,09:31:00.991274,09:31:00.991274,09:31:00.991274,19:00:00.000000,09:31:00.991274,19:00:00.000000,9,e,0.0,0.0,...,0.0,NaN,17388,60.0,0.0,60.0,NaN,60.0,NaN,Normal
1300,09:31:00.991293,09:31:00.991293,09:31:00.991293,19:00:00.000000,09:31:00.991293,19:00:00.000000,10,e,0.0,0.0,...,0.0,NaN,17500,60.0,0.0,60.0,NaN,60.0,NaN,Normal
1342,09:33:51.567054,09:33:51.567054,09:33:51.567054,19:00:00.000000,09:33:51.567054,19:00:00.000000,25,e,0.0,0.0,...,0.0,NaN,29000,94.0,0.0,94.0,NaN,94.0,NaN,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111687,14:21:44.882599,14:21:44.882599,14:21:44.882599,19:00:00.000000,14:21:44.882599,19:00:00.000000,32,e,0.0,0.0,...,0.0,NaN,17100,64.0,0.0,64.0,NaN,64.0,NaN,Normal
111701,14:22:47.141405,14:22:47.141405,14:22:47.141405,19:00:00.000000,14:22:47.141405,19:00:00.000000,37,e,0.0,0.0,...,0.0,NaN,20940,84.0,0.0,84.0,NaN,84.0,NaN,Normal
111702,14:22:47.141418,14:22:47.141418,14:22:47.141418,19:00:00.000000,14:22:47.141418,19:00:00.000000,38,e,0.0,0.0,...,0.0,NaN,21076,84.0,0.0,84.0,NaN,84.0,NaN,Normal
111703,14:22:47.141655,14:22:47.141655,14:22:47.141655,19:00:00.000000,14:22:47.141655,19:00:00.000000,39,e,0.0,0.0,...,0.0,NaN,21212,64.0,0.0,64.0,NaN,64.0,NaN,Normal
111704,14:22:47.141661,14:22:47.141661,14:22:47.141661,19:00:00.000000,14:22:47.141661,19:00:00.000000,40,e,0.0,0.0,...,0.0,NaN,21324,64.0,0.0,64.0,NaN,64.0,NaN,Normal

In [24]:
df_probe[(df_probe.RunTime==0.0) | (df_probe.Dur==0.0)]

,StartTime,LastTime,SrcStartTime,DstStartTime,SrcLastTime,DstLastTime,Seq,Flgs,RunTime,Dur,...,AckDat,TcpOpt,Offset,sMeanPktSz,dMeanPktSz,sMaxPktSz,dMaxPktSz,sMinPktSz,dMinPktSz,Label
45,09:04:30.779428,09:04:30.779428,09:04:30.779428,19:00:00.000000,09:04:30.779428,19:00:00.000000,38,e,0.0,0.0,...,0.0,NaN,10996,114.0,0.0,114.0,NaN,114.0,NaN,Probe
245,09:30:28.200573,09:30:28.200573,09:30:28.200573,19:00:00.000000,09:30:28.200573,19:00:00.000000,191,e,0.0,0.0,...,0.0,NaN,57200,114.0,0.0,114.0,NaN,114.0,NaN,Probe
1034,08:59:54.798939,08:59:54.798939,08:59:54.798939,19:00:00.000000,08:59:54.798939,19:00:00.000000,26,e,0.0,0.0,...,0.0,NaN,109376,203.0,0.0,203.0,NaN,203.0,NaN,Probe
1035,08:59:54.799019,08:59:54.799019,08:59:54.799019,19:00:00.000000,08:59:54.799019,19:00:00.000000,27,e,0.0,0.0,...,0.0,NaN,109512,183.0,0.0,183.0,NaN,183.0,NaN,Probe
1036,08:59:55.445776,08:59:55.445776,08:59:55.445776,19:00:00.000000,08:59:55.445776,19:00:00.000000,28,e,0.0,0.0,...,0.0,NaN,109624,203.0,0.0,203.0,NaN,203.0,NaN,Probe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49446,08:59:15.697198,08:59:15.697198,08:59:15.697198,19:00:00.000000,08:59:15.697198,19:00:00.000000,48203,e,0.0,0.0,...,0.0,NaN,10430320,87.0,0.0,87.0,NaN,87.0,NaN,Probe
49447,08:59:15.697668,08:59:15.697668,08:59:15.697668,19:00:00.000000,08:59:15.697668,19:00:00.000000,48204,e,0.0,0.0,...,0.0,NaN,10430432,87.0,0.0,87.0,NaN,87.0,NaN,Probe
49448,08:59:15.697728,08:59:15.697728,08:59:15.697728,19:00:00.000000,08:59:15.697728,19:00:00.000000,48205,e,0.0,0.0,...,0.0,NaN,10430544,87.0,0.0,87.0,NaN,87.0,NaN,Probe
49449,08:59:15.697779,08:59:15.697779,08:59:15.697779,19:00:00.000000,08:59:15.697779,19:00:00.000000,48206,e,0.0,0.0,...,0.0,NaN,10430656,87.0,0.0,87.0,NaN,87.0,NaN,Probe
49450,08:59:15.697876,08:59:15.697876,08:59:15.697876,19:00:00.000000,08:59:15.697876,19:00:00.000000,48207,e,0.0,0.0,...,0.0,NaN,10430768,87.0,0.0,87.0,NaN,87.0,NaN,Probe

In [25]:
df_dos[(df_dos.RunTime==0.0) | (df_dos.Dur==0.0)]

,StartTime,LastTime,SrcStartTime,DstStartTime,SrcLastTime,DstLastTime,Seq,Flgs,RunTime,Dur,...,AckDat,TcpOpt,Offset,sMeanPktSz,dMeanPktSz,sMaxPktSz,dMaxPktSz,sMinPktSz,dMinPktSz,Label
337,13:13:00.814769,13:13:00.814769,13:13:00.814769,19:00:00.000000,13:13:00.814769,19:00:00.000000,2,e,0.0,0.0,...,0.003392,Mws T,51816,66.0,0.0,66.0,NaN,66.0,NaN,Dos
338,13:13:00.814870,13:13:00.814870,13:13:00.814870,19:00:00.000000,13:13:00.814870,19:00:00.000000,3,e,0.0,0.0,...,0.002805,Mws T,52044,66.0,0.0,66.0,NaN,66.0,NaN,Dos
339,13:13:00.814890,13:13:00.814890,13:13:00.814890,19:00:00.000000,13:13:00.814890,19:00:00.000000,4,e,0.0,0.0,...,0.007383,Mws T,52272,66.0,0.0,66.0,NaN,66.0,NaN,Dos
340,13:13:00.814903,13:13:00.814903,13:13:00.814903,19:00:00.000000,13:13:00.814903,19:00:00.000000,5,e,0.0,0.0,...,0.002580,Mws T,52500,66.0,0.0,66.0,NaN,66.0,NaN,Dos
341,13:13:00.814916,13:13:00.814916,13:13:00.814916,19:00:00.000000,13:13:00.814916,19:00:00.000000,6,e,0.0,0.0,...,0.002220,Mws T,52728,66.0,0.0,66.0,NaN,66.0,NaN,Dos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34872,17:26:27.374600,17:26:27.374600,17:26:27.374600,19:00:00.000000,17:26:27.374600,19:00:00.000000,34,e s,0.0,0.0,...,0.000000,Mws T,44864,74.0,0.0,74.0,NaN,74.0,NaN,Dos
34877,17:26:29.422350,17:26:29.422350,17:26:29.422350,19:00:00.000000,17:26:29.422350,19:00:00.000000,43,e s,0.0,0.0,...,0.000000,Mws T,46344,74.0,0.0,74.0,NaN,74.0,NaN,Dos
34878,17:26:29.422773,17:26:29.422773,17:26:29.422773,19:00:00.000000,17:26:29.422773,19:00:00.000000,42,e s,0.0,0.0,...,0.000000,Mws T,46592,74.0,0.0,74.0,NaN,74.0,NaN,Dos
34879,17:26:29.422792,17:26:29.422792,17:26:29.422792,19:00:00.000000,17:26:29.422792,19:00:00.000000,41,e s,0.0,0.0,...,0.000000,Mws T,46840,74.0,0.0,74.0,NaN,74.0,NaN,Dos
34880,17:26:29.422803,17:26:29.422803,17:26:29.422803,19:00:00.000000,17:26:29.422803,19:00:00.000000,40,e s,0.0,0.0,...,0.000000,Mws T,47088,74.0,0.0,74.0,NaN,74.0,NaN,Dos

In [26]:
"""funcion para eliminar datos innecesarios"""
def eliminar_filasvaloresDesconocidos(_daframe:pd.DataFrame, _dfilasConsulta:pd.DataFrame):
    filas_eliminar=[]
    for index, fila in _dfilasConsulta.iterrows():
        filas_eliminar.append(index)
        """eliminar registros de filas almacenados """
    _daframe.drop(filas_eliminar, axis=0, inplace=True)

In [27]:
eliminar_filasvaloresDesconocidos(df_normal,df_normal[(df_normal.RunTime==0.0) | (df_normal.Dur==0.0)])
eliminar_filasvaloresDesconocidos(df_probe,df_probe[(df_probe.RunTime==0.0) | (df_probe.Dur==0.0)])
eliminar_filasvaloresDesconocidos(df_dos,df_dos[(df_dos.RunTime==0.0) | (df_dos.Dur==0.0)])

In [32]:
print(df_normal.shape,'\n',df_dos.shape,'\n',df_probe.shape)

(94600, 93)
 (34288, 93)
 (42079, 93)

### Normal, Probe y DoS

In [92]:
direccionesIP= df_normal.DstAddr.unique()

In [94]:
df_dos.SrcAddr.value_counts()

200.175.2.130                34185
192.168.8.129                   84
192.168.8.128                    9
192.168.8.1                      7
192.168.20.134                   2
fe80::a9c8:a7bc:187d:eb55        1
Name: SrcAddr, dtype: int64

In [93]:
df_normal[(df_normal.SrcAddr=="fe80::a9c8:a7bc:187d:eb55") | (df_normal.SrcAddr=="fe80::381f:c0ff:fec6:500") | (df_normal.SrcAddr=="fe80::20c:29ff:fe92:12ba")]

,StartTime,LastTime,SrcStartTime,DstStartTime,SrcLastTime,DstLastTime,Seq,Flgs,RunTime,Dur,...,AckDat,TcpOpt,Offset,sMeanPktSz,dMeanPktSz,sMaxPktSz,dMaxPktSz,sMinPktSz,dMinPktSz,Label
1303,09:31:01.730686,09:31:02.734434,09:31:01.730686,19:00:00.000000,09:31:02.734434,19:00:00.000000,13,e,1.003748,1.003748,...,0.0,NaN,17900,90.0,0.0,90.0,NaN,90.0,NaN,Normal
1304,09:31:01.732744,09:31:02.144417,09:31:01.732744,19:00:00.000000,09:31:02.144417,19:00:00.000000,14,e,0.411673,0.411673,...,0.0,NaN,18068,84.0,0.0,84.0,NaN,84.0,NaN,Normal
1341,09:33:51.559059,09:33:51.567868,09:33:51.559059,19:00:00.000000,09:33:51.567868,19:00:00.000000,24,e,0.008809,0.008809,...,0.0,NaN,28832,119.0,0.0,138.0,NaN,100.0,NaN,Normal
9459,09:33:30.610284,09:33:31.107797,09:33:30.610284,19:00:00.000000,09:33:31.107797,19:00:00.000000,5273,e,0.497513,0.497513,...,0.0,NaN,1721552,143.5,0.0,192.0,NaN,95.0,NaN,Normal
10416,09:01:35.904791,09:01:35.913364,09:01:35.904791,19:00:00.000000,09:01:35.913364,19:00:00.000000,19,e,0.008573,0.008573,...,0.0,NaN,36948,119.0,0.0,138.0,NaN,100.0,NaN,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107073,10:08:33.484741,10:08:33.896014,10:08:33.484741,19:00:00.000000,10:08:33.896014,19:00:00.000000,79,e,0.411273,0.411273,...,0.0,NaN,71908,94.0,0.0,94.0,NaN,94.0,NaN,Normal
111650,14:20:09.436469,14:20:09.439273,14:20:09.436469,19:00:00.000000,14:20:09.439273,19:00:00.000000,13,e,0.002804,0.002804,...,0.0,NaN,8796,119.0,0.0,138.0,NaN,100.0,NaN,Normal
111669,14:21:21.956843,14:21:28.212660,14:21:21.956843,19:00:00.000000,14:21:28.212660,19:00:00.000000,20,e,6.255817,6.255817,...,0.0,NaN,13972,90.0,0.0,90.0,NaN,90.0,NaN,Normal
111683,14:21:44.468214,14:21:45.469968,14:21:44.468214,19:00:00.000000,14:21:45.469968,19:00:00.000000,20,e,1.001754,1.001754,...,0.0,NaN,16548,90.0,0.0,90.0,NaN,90.0,NaN,Normal
111700,14:22:46.726720,14:22:47.729341,14:22:46.726720,19:00:00.000000,14:22:47.729341,19:00:00.000000,36,e,1.002621,1.002621,...,0.0,NaN,20772,90.0,0.0,90.0,NaN,90.0,NaN,Normal

In [95]:
df_dos[(df_dos.SrcAddr=="fe80::a9c8:a7bc:187d:eb55")]

,StartTime,LastTime,SrcStartTime,DstStartTime,SrcLastTime,DstLastTime,Seq,Flgs,RunTime,Dur,...,AckDat,TcpOpt,Offset,sMeanPktSz,dMeanPktSz,sMaxPktSz,dMaxPktSz,sMinPktSz,dMinPktSz,Label
24268,13:03:55.007616,13:03:55.014944,13:03:55.007616,19:00:00.000000,13:03:55.014944,19:00:00.000000,12,e,0.007328,0.007328,...,0.0,NaN,3336,119.0,0.0,138.0,NaN,100.0,NaN,Dos

In [100]:
eliminar_filasvaloresDesconocidos(df_normal,df_normal[(df_normal.SrcAddr=="fe80::a9c8:a7bc:187d:eb55")| 
(df_normal.SrcAddr=="fe80::381f:c0ff:fec6:500") | (df_normal.SrcAddr=="fe80::20c:29ff:fe92:12ba")])
eliminar_filasvaloresDesconocidos(df_dos,df_dos[(df_dos.SrcAddr=="fe80::a9c8:a7bc:187d:eb55")])

In [103]:
"""cantidad de registros"""
print(df_normal.shape,'\n',df_dos.shape,'\n',df_probe.shape)

(94285, 93)
 (34287, 93)
 (42079, 93)

## 1.2 Eliminar valores duplicados

In [104]:
print(df_normal.duplicated().sum(),df_probe.duplicated().sum(),df_dos.duplicated().sum())

0 0 0

## 1.3 Revisar variables Redundantes

In [44]:
df_normal.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94600 entries, 1 to 111717
Data columns (total 93 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   StartTime     94600 non-null  object
 1   LastTime      94600 non-null  object
 2   SrcStartTime  94600 non-null  object
 3   DstStartTime  94600 non-null  object
 4   SrcLastTime   94600 non-null  object
 5   DstLastTime   94600 non-null  object
 6   Seq           94600 non-null  int64
 7   Flgs          94600 non-null  object
 8   RunTime       94600 non-null  float64
 9   Dur           94600 non-null  float64
 10  SrcDur        94600 non-null  float64
 11  DstDur        94600 non-null  float64
 12  Mean          94600 non-null  float64
 13  StdDev        94600 non-null  float64
 14  Sum           94600 non-null  float64
 15  Min           94600 non-null  float64
 16  Max           94600 non-null  float64
 17  Dir           94600 non-null  object
 18  SrcAddr       94600 non-null  object
 19  DstAddr       94600 non-null  object
 20  Proto         94600 non-null  object
 21  Sport         94600 non-null  object
 22  Dport         94600 non-null  object
 23  sTos          94583 non-null  float64
 24  dTos          92811 non-null  float64
 25  sTtl          94583 non-null  float64
 26  dTtl          92811 non-null  float64
 27  Cause         94600 non-null  object
 28  TotPkts       94600 non-null  int64
 29  SrcPkts       94600 non-null  int64
 30  DstPkts       94600 non-null  int64
 31  TotBytes      94600 non-null  int64
 32  SrcBytes      94600 non-null  int64
 33  DstBytes      94600 non-null  int64
 34  TotAppByte    94600 non-null  int64
 35  SAppBytes     94600 non-null  int64
 36  DAppBytes     94600 non-null  int64
 37  PCRatio       94600 non-null  float64
 38  Load          94600 non-null  float64
 39  SrcLoad       94600 non-null  float64
 40  DstLoad       94600 non-null  float64
 41  Loss          94600 non-null  int64
 42  SrcLoss       94600 non-null  int64
 43  DstLoss       94600 non-null  int64
 44  pLoss         94600 non-null  float64
 45  pSrcLoss      94600 non-null  float64
 46  pDstLoss      94600 non-null  float64
 47  Retrans       94600 non-null  int64
 48  SrcRetra      94600 non-null  int64
 49  DstRetra      94600 non-null  int64
 50  pRetran       94600 non-null  float64
 51  pSrcRetr      94600 non-null  float64
 52  pDstRetr      94600 non-null  float64
 53  Rate          94600 non-null  float64
 54  SrcRate       94600 non-null  float64
 55  DstRate       94600 non-null  float64
 56  SIntPkt       43705 non-null  float64
 57  DIntPkt       41878 non-null  float64
 58  SIntPktAct    43705 non-null  float64
 59  DIntPktAct    43705 non-null  float64
 60  SIntPktIdl    43705 non-null  float64
 61  DIntPktIdl    43705 non-null  float64
 62  SIntPktMax    43705 non-null  float64
 63  SIntPktMin    43705 non-null  float64
 64  DIntPktMax    43705 non-null  float64
 65  DIntPktMin    43705 non-null  float64
 66  SIPActMax     43705 non-null  float64
 67  SIPActMin     43705 non-null  float64
 68  DIPActMax     43705 non-null  float64
 69  DIPActMin     43705 non-null  float64
 70  SIPIdlMax     43705 non-null  float64
 71  SIPIdlMin     43705 non-null  float64
 72  DIPIdlMax     43705 non-null  float64
 73  DIPIdlMin     43705 non-null  float64
 74  SrcJitter     42922 non-null  float64
 75  DstJitter     41204 non-null  float64
 76  SrcJitAct     14013 non-null  float64
 77  DstJitAct     12444 non-null  float64
 78  SrcJitIdl     41176 non-null  float64
 79  DstJitIdl     41207 non-null  float64
 80  State         94600 non-null  object
 81  TcpRtt        94600 non-null  float64
 82  SynAck        94600 non-null  float64
 83  AckDat        94600 non-null  float64
 84  TcpOpt        34423 non-null  object
 85  Offset        94600 non-null  int64
 86  sMeanPktSz    94600 non-null  float64
 87  dMeanPktSz    94600 non-null  float64
 88  sMaxPktSz     94583 non-null  float64
 89  dMaxPktSz     92811 non-null  float64
 90  sMinPktSz     94583 non-null  float64
 91  dMinPktSz     92811 non-null  float64
 92  Label         94600 non-null  object
dtypes: float64(59), int64(17), object(17)
memory usage: 69.9+ MB

In [67]:
"""caracteristicas de tiempo"""
df_normal.iloc[:,[8,9,12,14,15,16]]

          RunTime        Dur       Mean        Sum        Min        Max
1       11.450987  11.450987  11.450987  11.450987  11.450987  11.450987
2       12.774145  12.774145  12.774145  12.774145  12.774145  12.774145
3       11.265332  11.265332  11.265332  11.265332  11.265332  11.265332
4       11.261298  11.261298  11.261298  11.261298  11.261298  11.261298
5       11.261163  11.261163  11.261163  11.261163  11.261163  11.261163
...           ...        ...        ...        ...        ...        ...
111713  19.554995  19.554995  19.554995  19.554995  19.554995  19.554995
111714  19.867643  19.867643  19.867643  19.867643  19.867643  19.867643
111715  18.200975  18.200975  18.200975  18.200975  18.200975  18.200975
111716  16.801098  16.801098  16.801098  16.801098  16.801098  16.801098
111717   2.939682   2.939682   2.939682   2.939682   2.939682   2.939682

[94600 rows x 6 columns]

In [68]:
"""comprobar si todas las filas tienen el mismo valor del primero"""
for fila in df_normal.iloc[:,[8,9,12,14,15,16]].values:
    for col in range(6):
        if fila[0] != fila[col]:
            print(True)

## 1.4 Analizar Nomenclaturas

In [83]:
caracteristicas_eldir = ['StartTime', 'LastTime','SrcStartTime','DstStartTime','SrcLastTime',
'DstLastTime', 'Seq','Flgs','SrcAddr','DstAddr','Sport','sTos','dTos','sTtl','dTtl','PCRatio'
,'TcpRtt', 'SynAck','AckDat','TcpOpt','Offset']

In [106]:
"""importar db normal, DoS y Probe"""
df_normal = pd.read_csv('../../araData/normal_1.2.csv', low_memory=False)
df_dos = pd.read_csv('../../araData/dos_1.2.csv', low_memory=False)
df_probe = pd.read_csv('../../araData/probe_1.2.csv', low_memory=False)