In [1]:
import pandas as pd
import numpy as np
"""graficas"""
import matplotlib.pyplot as plt
import seaborn as sns
"""codificar"""
from sklearn.preprocessing import StandardScaler
"""mezclar y dividir datos"""
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit
"""caracteristicas"""
from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.ensemble import ExtraTreesClassifier

# Importacion de datos

In [2]:
df_traffic = pd.read_csv('../../araData/Z/Categorizado.csv', low_memory=False)

In [3]:
df_traffic.Label.value_counts()

2    94285
0    41300
3    41061
1    34285
Name: Label, dtype: int64

## Seleccion y balanceo de datos

## **Normal**

In [4]:
df_normal=df_traffic[(df_traffic.Label==2)]
df_normal.protoTcp.value_counts()

0    52333
1    41952
Name: protoTcp, dtype: int64

In [5]:
df_normal.describe()

,protoTcp,protoUdp,portSystem,portUser,portDynamic,Dur,SrcDur,DstDur,TotPkts,SrcPkts,...,SynAck,AckDat,Offset,sMeanPktSz,dMeanPktSz,sMaxPktSz,dMaxPktSz,sMinPktSz,dMinPktSz,Label
count,94285.000000,94285.000000,94285.000000,94285.000000,94285.000000,94285.000000,94285.000000,94285.000000,94285.000000,94285.000000,...,94285.000000,94285.000000,9.428500e+04,94285.000000,94285.000000,94285.000000,94285.000000,94285.000000,94285.000000,94285.0
mean,0.444949,0.555051,0.934974,0.064984,0.000042,3.741888,3.720147,3.639458,45.399565,20.979817,...,0.007680,0.000025,1.415331e+06,157.845786,388.440209,619.341539,1399.190073,69.676046,207.113242,2.0
std,0.496963,0.496963,0.246573,0.246499,0.006513,6.358330,6.347501,6.308889,398.449651,195.749723,...,0.066397,0.000188,1.212455e+06,240.987666,743.183693,1564.047625,6191.842239,18.061732,159.742382,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000009,0.000000,0.000000,2.000000,0.000000,...,0.000000,0.000000,1.280000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
25%,0.000000,0.000000,1.000000,0.000000,0.000000,0.003318,0.000000,0.000000,2.000000,1.000000,...,0.000000,0.000000,4.177040e+05,74.000000,125.414635,75.000000,186.000000,54.000000,60.000000,2.0
50%,0.000000,1.000000,1.000000,0.000000,0.000000,0.006773,0.000000,0.000000,2.000000,1.000000,...,0.000000,0.000000,1.021772e+06,77.000000,266.000000,82.000000,337.000000,72.000000,158.000000,2.0
75%,1.000000,1.000000,1.000000,0.000000,0.000000,5.581334,5.527219,5.365351,12.000000,6.000000,...,0.003950,0.000028,2.254904e+06,102.000000,387.000000,271.000000,448.000000,76.000000,364.000000,2.0
max,1.000000,1.000000,1.000000,1.000000,1.000000,19.999998,19.999998,19.999998,41714.000000,20273.000000,...,7.028434,0.005490,4.486512e+06,4577.167480,47301.550781,63778.000000,65226.000000,1048.000000,1739.000000,2.0

duracion = 0

In [6]:
df_normal[(df_normal.SrcDur==0)]

,protoTcp,protoUdp,portSystem,portUser,portDynamic,Dur,SrcDur,DstDur,TotPkts,SrcPkts,...,SynAck,AckDat,Offset,sMeanPktSz,dMeanPktSz,sMaxPktSz,dMaxPktSz,sMinPktSz,dMinPktSz,Label
25,0,1,1,0,0,0.003818,0.0,0.0,2,1,...,0.0,0.0,7740,75.0,453.0,75.0,453.0,75.0,453.0,2
27,0,1,1,0,0,0.005074,0.0,0.0,2,1,...,0.0,0.0,8200,75.0,385.0,75.0,385.0,75.0,385.0,2
43,0,1,1,0,0,0.002823,0.0,0.0,2,1,...,0.0,0.0,12836,92.0,392.0,92.0,392.0,92.0,392.0,2
44,0,1,1,0,0,0.002851,0.0,0.0,2,1,...,0.0,0.0,12968,92.0,404.0,92.0,404.0,92.0,404.0,2
68,0,1,1,0,0,0.005717,0.0,0.0,2,1,...,0.0,0.0,20140,75.0,453.0,75.0,453.0,75.0,453.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94211,0,1,1,0,0,0.003458,0.0,0.0,2,1,...,0.0,0.0,891844,72.0,186.0,72.0,186.0,72.0,186.0,2
94212,0,1,1,0,0,0.003395,0.0,0.0,2,1,...,0.0,0.0,891972,76.0,480.0,76.0,480.0,76.0,480.0,2
94213,0,1,1,0,0,0.030794,0.0,0.0,2,1,...,0.0,0.0,892104,76.0,217.0,76.0,217.0,76.0,217.0,2
94217,1,0,0,1,0,0.000299,0.0,0.0,2,1,...,0.0,0.0,1144,60.0,90.0,60.0,90.0,60.0,90.0,2
94218,1,0,0,1,0,0.000332,0.0,0.0,2,1,...,0.0,0.0,1388,60.0,130.0,60.0,130.0,60.0,130.0,2

duracion mayor a 5 secs

In [5]:
normal_1=df_normal[(df_normal.SrcDur>=1)]
normal_1

,protoTcp,protoUdp,portSystem,portUser,portDynamic,Dur,SrcDur,DstDur,TotPkts,SrcPkts,...,SynAck,AckDat,Offset,sMeanPktSz,dMeanPktSz,sMaxPktSz,dMaxPktSz,sMinPktSz,dMinPktSz,Label
0,1,0,1,0,0,11.450987,11.449797,11.449333,786,194,...,0.0,0.0,128,66.773193,3328.307373,1348.0,45927.0,54.0,60.0,2
1,1,0,1,0,0,12.774145,12.774145,12.772697,8,4,...,0.0,0.0,468,54.000000,60.000000,54.0,60.0,54.0,60.0,2
2,1,0,1,0,0,11.265332,11.263568,10.240026,5,3,...,0.0,0.0,768,54.000000,60.000000,54.0,60.0,54.0,60.0,2
3,1,0,1,0,0,11.261298,11.259567,10.239794,5,3,...,0.0,0.0,1068,54.000000,60.000000,54.0,60.0,54.0,60.0,2
4,1,0,1,0,0,11.261163,11.259556,10.239808,5,3,...,0.0,0.0,1368,54.000000,60.000000,54.0,60.0,54.0,60.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94280,1,0,0,1,0,19.554995,19.512526,19.554995,79,28,...,0.0,0.0,24196,1034.000000,124.627449,6178.0,243.0,66.0,66.0,2
94281,1,0,0,1,0,19.867643,19.867643,19.818781,1847,1011,...,0.0,0.0,24524,327.851624,357.937805,6178.0,1620.0,66.0,66.0,2
94282,1,0,0,1,0,18.200975,18.200474,18.200624,84,30,...,0.0,0.0,24884,969.466675,114.814812,4410.0,243.0,66.0,66.0,2
94283,1,0,0,1,0,16.801098,16.800465,16.801098,69,24,...,0.0,0.0,25212,914.000000,122.444443,5858.0,243.0,66.0,66.0,2
94284,1,0,0,1,0,2.939682,2.939682,2.895256,371,198,...,0.0,0.0,25540,180.782822,206.040466,1371.0,1369.0,66.0,66.0,2

In [6]:
normal_1[(normal_1.SrcDur>=1)].protoTcp.value_counts()

1    28306
0     1025
Name: protoTcp, dtype: int64

In [7]:
"""agrego 29331 instancias para 34200"""
balance_normal = df_normal[(df_normal.SrcDur>=1)]

In [10]:
"""selecciono nuevas instancias"""
normal_2 = df_normal[(df_normal.SrcDur>=0.009356) & (df_normal.SrcDur<1)]

In [11]:
normal_2.protoTcp.value_counts()

1    9358
0     431
Name: protoTcp, dtype: int64

In [12]:
normal_2 = shuffle(normal_2)
normal_2.reset_index(inplace=True)
normal_2.drop('index', axis='columns',inplace=True)
normal_2 = normal_2.loc[0:4868]

In [13]:
normal_2.protoTcp.value_counts()

1    4667
0     202
Name: protoTcp, dtype: int64

In [14]:
balance_normal = pd.concat([balance_normal,normal_2], axis=0)

In [15]:
balance_normal.shape

(34200, 40)

**Guardar**

In [16]:
balance_normal.to_csv('../../araData/Z/balance_Normal_34200.csv',index=False)

## **DoS**

In [4]:
"""selecciono clase DoS"""
df_dos = df_traffic[(df_traffic.Label == 1)]
df_dos

,protoTcp,protoUdp,portSystem,portUser,portDynamic,Dur,SrcDur,DstDur,TotPkts,SrcPkts,...,SynAck,AckDat,Offset,sMeanPktSz,dMeanPktSz,sMaxPktSz,dMaxPktSz,sMinPktSz,dMinPktSz,Label
94285,1,0,1,0,0,0.040778,0.040770,0.040750,12,6,...,0.000028,0.004070,128,96.500000,377.000000,241.0,1514.0,66.0,66.0,1
94286,1,0,1,0,0,10.036650,10.036640,10.036617,7,4,...,0.000033,0.004034,456,124.000000,68.666664,239.0,74.0,66.0,66.0,1
94287,1,0,1,0,0,10.017091,10.017084,10.017078,7,4,...,0.000013,0.002296,764,116.250000,68.666664,239.0,74.0,66.0,66.0,1
94288,1,0,1,0,0,9.996828,9.996825,9.996814,7,4,...,0.000014,0.007719,1072,121.250000,68.666664,239.0,74.0,66.0,66.0,1
94289,1,0,1,0,0,19.990257,19.990255,19.990238,9,5,...,0.000020,0.004208,1380,114.400002,68.000000,239.0,74.0,66.0,66.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128565,1,0,0,1,0,19.113325,19.112623,19.112768,80,28,...,0.000000,0.000000,2588,1052.000000,125.192307,6178.0,243.0,66.0,66.0,1
128566,1,0,0,1,0,19.999716,19.090900,19.999716,80,27,...,0.000000,0.000000,2936,1069.851807,123.773582,6178.0,243.0,66.0,66.0,1
128567,1,0,0,1,0,8.413760,8.413160,8.413118,36,12,...,0.000000,0.000000,3264,1195.333374,120.916664,6178.0,243.0,66.0,66.0,1
128568,1,0,0,1,0,8.393086,8.393086,8.392476,34,12,...,0.000000,0.000000,3592,1195.333374,122.636360,6178.0,243.0,66.0,66.0,1
128569,1,0,0,1,0,6.200998,6.200308,6.200845,63,21,...,0.000000,0.000000,3920,411.142853,197.380951,6178.0,245.0,66.0,66.0,1

In [5]:
df_dos.protoTcp.value_counts()

1    34178
0      107
Name: protoTcp, dtype: int64

In [12]:
"""selecciono trafico udp"""
dos_1 = df_dos[(df_dos.protoUdp==1)]
dos_1.shape

(107, 40)

In [20]:
"""selecciono trafico tcp"""
dos_2 = df_dos[(df_dos.protoUdp==0)]

In [23]:
"""mezclar datos y seleccionar"""
dos_2 = shuffle(dos_2)
dos_2.reset_index(inplace=True)
dos_2.drop('index', axis='columns',inplace=True)
dos_2 = dos_2.loc[0:34092]

In [24]:
"""concatenar datos tcp y udp"""
balance_dos = pd.concat([dos_1,dos_2], axis=0)
balance_dos.shape

(34200, 40)

In [25]:
balance_dos.protoTcp.value_counts()

1    34093
0      107
Name: protoTcp, dtype: int64

**Guardar**

In [26]:
balance_dos.to_csv('../../araData/Z/balance_DoS_34200.csv',index=False)

## **DDoS**

In [3]:
"""seleccionar clase DDoS"""
df_ddos = df_traffic[(df_traffic.Label == 0)]
df_ddos

,protoTcp,protoUdp,portSystem,portUser,portDynamic,Dur,SrcDur,DstDur,TotPkts,SrcPkts,...,SynAck,AckDat,Offset,sMeanPktSz,dMeanPktSz,sMaxPktSz,dMaxPktSz,sMinPktSz,dMinPktSz,Label
169631,1,0,0,1,0,19.999178,19.997679,19.998796,42189,20861,...,0.0,0.0,128,170.038300,161.609848,51070.0,50746.0,66.0,66.0,0
169632,1,0,0,1,0,18.599634,18.598671,18.599367,79,28,...,0.0,0.0,488,1034.000000,124.627449,6178.0,243.0,66.0,66.0,0
169633,1,0,0,1,0,18.600424,18.599756,18.599895,87,31,...,0.0,0.0,816,940.322571,119.392860,5858.0,243.0,66.0,66.0,0
169634,1,0,0,1,0,18.535315,18.535309,18.534498,12086,6252,...,0.0,0.0,1552,170.673386,173.141922,6178.0,1620.0,66.0,66.0,0
169635,1,0,0,1,0,19.448097,19.447540,19.447605,83,29,...,0.0,0.0,1912,1000.620667,121.370369,5858.0,243.0,66.0,66.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210926,0,1,1,0,0,0.000000,0.000000,0.000000,1,1,...,0.0,0.0,76635376,42.000000,0.000000,42.0,0.0,42.0,0.0,0
210927,0,1,1,0,0,0.000000,0.000000,0.000000,1,1,...,0.0,0.0,144775272,42.000000,0.000000,42.0,0.0,42.0,0.0,0
210928,0,1,1,0,0,0.000000,0.000000,0.000000,1,1,...,0.0,0.0,220812784,42.000000,0.000000,42.0,0.0,42.0,0.0,0
210929,0,1,1,0,0,0.000000,0.000000,0.000000,1,1,...,0.0,0.0,242456864,42.000000,0.000000,42.0,0.0,42.0,0.0,0
210930,0,1,1,0,0,0.000000,0.000000,0.000000,1,1,...,0.0,0.0,21132592,42.000000,0.000000,42.0,0.0,42.0,0.0,0

In [4]:
df_ddos.protoTcp.value_counts()

1    20664
0    20636
Name: protoTcp, dtype: int64

In [10]:
"""agrego 28 instancias para 34200, son las unicas que tienen tiempo mayor a 1 sec"""
ddos_1 = df_ddos[(df_ddos.SrcDur>=1)]
ddos_1.protoTcp.value_counts()

1    28
Name: protoTcp, dtype: int64

In [15]:
"""selecciono trafico con tiempo =0"""
ddos_2 = df_ddos[(df_ddos.SrcDur<1)]
ddos_2.protoTcp.value_counts()

1    20636
0    20636
Name: protoTcp, dtype: int64

In [16]:
"""mezclar datos y seleccionar"""
ddos_2 = shuffle(ddos_2)
ddos_2.reset_index(inplace=True)
ddos_2.drop('index', axis='columns',inplace=True)
ddos_2 = ddos_2.loc[0:34171]

In [17]:
"""concatenar datos tcp y udp"""
balance_ddos = pd.concat([ddos_1,ddos_2], axis=0)
balance_ddos.shape

(34200, 40)

In [18]:
balance_ddos.protoTcp.value_counts()

0    17120
1    17080
Name: protoTcp, dtype: int64

**Guardar**

In [20]:
balance_ddos.to_csv('../../araData/Z/balance_DDoS_34200.csv',index=False)

## **Probe**

In [4]:
"""selecciono flujos de clase probe"""
df_probe = df_traffic[(df_traffic.Label == 3)]
df_probe

,protoTcp,protoUdp,portSystem,portUser,portDynamic,Dur,SrcDur,DstDur,TotPkts,SrcPkts,...,SynAck,AckDat,Offset,sMeanPktSz,dMeanPktSz,sMaxPktSz,dMaxPktSz,sMinPktSz,dMinPktSz,Label
128570,1,0,1,0,0,0.000030,0.000000,0.000000,2,1,...,0.000000,0.000000,128,54.000000,54.000000,54.0,54.0,54.0,54.0,3
128571,1,0,0,1,0,0.006342,0.006342,0.000000,3,2,...,0.000024,0.000000,984,56.000000,58.000000,58.0,58.0,54.0,58.0,3
128572,1,0,1,0,0,0.005829,0.005829,0.000000,3,2,...,0.000017,0.000000,1256,56.000000,58.000000,58.0,58.0,54.0,58.0,3
128573,1,0,1,0,0,0.000012,0.000000,0.000000,2,1,...,0.000000,0.000000,1528,54.000000,54.000000,54.0,54.0,54.0,54.0,3
128574,1,0,0,1,0,0.003686,0.003686,0.000000,4,3,...,0.000039,0.003593,1768,68.666664,74.000000,74.0,74.0,66.0,74.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169626,1,0,1,0,0,0.022762,0.021231,0.020845,10,5,...,0.001917,0.001927,10426336,100.000000,136.600006,228.0,382.0,66.0,66.0,3
169627,1,0,1,0,0,0.017984,0.016489,0.015600,10,5,...,0.002384,0.002499,10426664,99.000000,136.600006,223.0,382.0,66.0,66.0,3
169628,1,0,1,0,0,0.053383,0.053383,0.005510,12,7,...,0.000911,0.001044,10426992,69.714287,403.600006,84.0,1514.0,66.0,66.0,3
169629,1,0,1,0,0,0.152144,0.150738,0.151152,13,7,...,0.000992,0.001044,10427320,72.857140,347.333344,106.0,1514.0,66.0,66.0,3
169630,0,1,0,1,0,3.003220,3.003220,0.000000,4,4,...,0.000000,0.000000,10427648,215.000000,0.000000,215.0,0.0,215.0,0.0,3

In [5]:
df_probe[(df_probe.Dur>=1)]

,protoTcp,protoUdp,portSystem,portUser,portDynamic,Dur,SrcDur,DstDur,TotPkts,SrcPkts,...,SynAck,AckDat,Offset,sMeanPktSz,dMeanPktSz,sMaxPktSz,dMaxPktSz,sMinPktSz,dMinPktSz,Label
128583,1,0,1,0,0,6.016151,6.016122,6.016135,10,5,...,0.000016,0.002452,5772,71.199997,171.000000,84.0,583.0,66.0,66.0,3
128584,1,0,0,1,0,11.056353,11.014766,11.056342,7,4,...,0.000011,0.002342,6080,69.000000,68.666664,74.0,74.0,66.0,66.0,3
128585,0,1,1,0,0,14.013286,14.013286,0.000000,2,2,...,0.000000,0.000000,6388,86.000000,0.000000,86.0,0.0,86.0,0.0,3
128586,0,1,1,0,0,14.012569,14.012569,0.000000,2,2,...,0.000000,0.000000,6732,86.000000,0.000000,86.0,0.0,86.0,0.0,3
128587,0,1,1,0,0,14.012632,14.012632,0.000000,2,2,...,0.000000,0.000000,7076,86.000000,0.000000,86.0,0.0,86.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157704,0,1,0,1,0,3.003292,3.003292,0.000000,4,4,...,0.000000,0.000000,7417136,215.000000,0.000000,215.0,0.0,215.0,0.0,3
157708,0,1,0,1,0,3.002064,3.002064,0.000000,4,4,...,0.000000,0.000000,7531408,215.000000,0.000000,215.0,0.0,215.0,0.0,3
169621,1,0,1,0,0,6.020914,6.020127,6.020249,12,6,...,0.000665,0.000887,10423956,70.333336,347.333344,84.0,1514.0,66.0,66.0,3
169622,0,1,0,1,0,3.002925,3.002925,0.000000,4,4,...,0.000000,0.000000,10425208,215.000000,0.000000,215.0,0.0,215.0,0.0,3
169630,0,1,0,1,0,3.003220,3.003220,0.000000,4,4,...,0.000000,0.000000,10427648,215.000000,0.000000,215.0,0.0,215.0,0.0,3

In [6]:
df_probe[(df_probe.Dur>=1)].protoTcp.value_counts()

1    658
0    231
Name: protoTcp, dtype: int64

In [7]:
"""selecciono flujo con tiempo a mayor a 1 sec"""
probe_1 = df_probe[(df_probe.Dur>=1)]

In [9]:
"""selecciono todo el trafico menor a 1 sec"""
probe_2 = df_probe[(df_probe.Dur<1)]

In [10]:
"""mezclar datos y seleccionar"""
probe_2 = shuffle(probe_2)
probe_2.reset_index(inplace=True)
probe_2.drop('index', axis='columns',inplace=True)
probe_2 = probe_2.loc[0:33310]

In [11]:
"""concatenar datos tcp y udp"""
balance_probe = pd.concat([probe_1,probe_2], axis=0)
balance_probe.shape

(34200, 40)

In [12]:
balance_probe.protoTcp.value_counts()

1    30409
0     3791
Name: protoTcp, dtype: int64

**Guardar**

In [13]:
balance_probe.to_csv('../../araData/Z/balance_Probe_34200.csv',index=False)

## Concatenar 4 clases de trafico: Normal, DoS, DDoS y Probe

In [2]:
df_ddos = pd.read_csv('../../araData/Z/balance_DDoS_34200.csv', low_memory=False)
df_dos = pd.read_csv('../../araData/Z/balance_DoS_34200.csv', low_memory=False)
df_normal = pd.read_csv('../../araData/Z/balance_Normal_34200.csv', low_memory=False)
df_probe = pd.read_csv('../../araData/Z/balance_Probe_34200.csv', low_memory=False)

In [5]:
df_traffic = pd.concat([df_normal,df_dos, df_ddos, df_probe], axis=0)

In [7]:
df_traffic.to_csv('../../araData/Z/balance_total4clases_34200.csv',index=False)